body,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    background-color: var(--background);
    color: var(--color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.no-scroll {
    overflow: hidden
}

:root {
    --background: #00420ecb;
    --color: #ffffff;
    --header-bg: #00440f;
    --span-border: #000000;
    --span-bg: #024900;
    --card-bg: #004904;
    --modal-bg: #005e00;
    --data: #978c8c;
    --footer-bg: #004700;
    --filter-hover-bg: #009900;
    --modal-border-1: #009900;
    --modal-border-2: #00d400;
    --modal-border-3: #00ff00;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--header-bg);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 32px;
    padding-left: 20px;
}

span {
    border: 1px solid var(--span-border);
    background-color: var(--span-bg);
    padding-left: 8px;
    padding-right: 8px;
}

.header-list {
    padding-right: 100px;
    display: flex;
    gap: 50px;
}

.header-link {
    font-size: 20px;
    color: var(--color);
    border: 1px solid var(--span-border);
    background-color: var(--span-bg);
    padding-left: 15px;
    padding-right: 15px;
}

.header-item:hover {
    transform: scale(1.10);
    transition-duration: 2s;
    border: solid var(--filter-hover-bg);
}

.hero-section {
    display: flex;
    justify-content: center;
    font-weight: 800
}

.hero-title {
    margin-top: 90px;
    font-size: 50px;
    text-align: center;
}

.hero-span {
    border: 1px solid var(--span-border);
    background-color: var(--span-bg);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.hero-text {
    font-size: 20px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.filter-list {
    margin-top: 80px;
    margin-bottom: 75px;
    display: flex;
    gap: 75px;
}

.filter-item {
    border: 1px solid var(--span-border);
    background-color: var(--span-bg);
    padding-left: 15px;
    padding-right: 15px;
}

.is-active {
    background-color: var(--filter-hover-bg);
}

.filter-item:hover {
    background-color: var(--filter-hover-bg);
    transition-duration: 1s;
    transition-timing-function: linear;
}

.filter-link {
    font-size: 20px;
}

.mylist-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
}

.mylist-rating {
    position: absolute;
    color: rgb(228, 228, 36);
    padding-left: 325px;
}

.mylist-item {
    border: 2px solid var(--span-border);
    margin: 20px;
    background-color: var(--card-bg);
    animation: border 4s infinite;
}

@keyframes border {
    0% {
        border: 2px solid var(--span-border);
    }
    25% {
        border: 2px solid var(--modal-border-1);
    }
    50% {
        border: 2px solid var(--modal-border-2);
    }
    75% {
        border: 2px solid var(--modal-border-3);
    }
    100% {
        border: 2px solid var(--span-border);
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 172, 14, 0.5);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    min-height: 200px;
    padding: 24px;
    background-color: var(--modal-bg);
    border-radius: 8px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.position {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mylist-modal-title {
    font-size: 25px;
}

.mylist-modal-data {
    font-size: 20px;
    color: var(--data);
}

.btn-open {
    font-size: 25px;
}

.btn-close {
    border: 2px solid var(--span-border);
    border-radius: 100px;
    padding: 10px;
    background-color: var(--data);
}

.modal-text {
    font-size: 30px;
}

.modal-title {
    font-size: 40px;
}

.modal-subtitle {
    font-size: 35px;
}

.modal-genre {
    font-size: 35px;
}

footer {
    background: var(--footer-bg);
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.footer-logo {
    font-size: 40px;
}

.footer-text {
    font-size: 20px;
}

.footer-nav {
    font-size: 35px;
}

.footer-list-text {
    font-size: 20px;
}

.footer-contact {
    font-size: 35px;
}

.footer-contact-link {
    width: 36px;
    height: 36px;
    font-size: 16px;
    background: var(--modal-bg);
    border: 1px solid var(--span-border);
    border-radius: 8px;
    animation: scale 2s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.footer-contact-list {
    display: flex;
    gap: 20px;
}

